/* Reset CSS  */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: Lato;
    src: url("https://khuevo098.github.io/web_theband/assets/font/Lato/Lato-Regular.ttf");
}


@media (max-width:767px)  {
    
}

.pad8{
    padding: 0px 8px;
}

.col-third{
    width: calc(100%/3);
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
    overflow: hidden;
}

.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}


.text-white{
    color:#fff !important;
}

#main{
    max-width: 100%;
}
#header{
    
    width: 100%;
    background-color: black;
    height:46px;
    top: 0px;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li{
    display:inline-block;
    position: relative;
}
#nav>li>a{
    color:white;
}

#nav li a{
    text-decoration: none;
    font-size: 15px;
    line-height: 46px;
    padding: 15px 24px;
    text-transform: uppercase;
    font-family: 'Lato';
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li{
    width: 100%;
}
#nav> li:hover> a{
    color:black;
    background-color:white;
}

#nav .subnav li:hover {
    color:black;
    background-color: #ccc
}

#nav .subnav a{
    color:black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .subnav{
    display:none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.362)

}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .search-icon{
    color:white;
    font-size:15px;
    line-height: 46px;
    padding: 16px 24px;
}
#header .search-btn{
    float:right;
    cursor:pointer;
}


#header .search-btn i:hover{
    color:rgb(255, 255, 255);
    background-color: crimson;
}


#slider{
    position: relative;
    margin-top:45px;
    padding-top: 50%;
    background: url("https://khuevo098.github.io/web_theband/assets/img/slider/slider1.jpg") top center/cover no-repeat;  
}


#slider .text-content{
    position: absolute;
    color:#ccc;
    font-weight: 400;
    padding: 32px 16px;
    bottom:0px;
    text-align: center;
    left:50%;
    transform:translateX(-50%);

}

#slider .text-content h3{
    font-size: 24px;
    margin: 10px 0;
    font-family: 'Lato';

}
#slider .text-content b{
    font-size: 15px;
    margin: 15px 0;
    font-family: 'Lato';
    
}

#content{
    min-height: 500px;

}

#content .content-section{
    width: 768px;
    box-sizing: border-box;
    display: block;
    width: 800px;
    margin: 0px auto;
    padding: 64px 16px;
    height: auto;
    max-width: 100%;
}

#content .content-section .section-heading{
    font-family: 'Lato';
    font-size: 30px;
    margin:10px 0; 
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
    display: block;
}

#content .content-section .section-sub-heading{
    font-size: 15px;
    font-family: 'Lato';
    font-style: italic ;
    font-weight: lighter;
    margin:15px 0;
    color: rgba(15, 14, 14, 0.503);
    text-align: center;
}


#content .content-section .about-text{
    display: block;
    text-align: justify;
    box-sizing: border-box;
    line-height: 1.4;
    font-family: 'Lato';
    font-size: 15px;
    margin: 15px 0;
    width: auto;
    height: auto;
}

#content .content-section .member-list{
    display: inline-block;
    padding: 32px 0;
    text-align: center;
}

#content .content-section .member-list .member-item{
   text-align: center;
}

.member-list .member-name{
    font-size: 15px;
    font-family: 'Lato';
    margin: 15px 0;
}
#content .member-img{
    width: 60%;
    border-radius: 4px;
}

/* TOUR SECTION  */

.tour-section{
    background-color: black;
   
}

.tour-section .section-sub-heading{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.393) !important;
}


.ticket-list{
    margin-top: 40px;
    background-color: #fff;
}

.ticket-list li{
    padding: 12px 16px;
    color: #757575;
    font-size: 15px;
    font-family: 'Lato';
    list-style-type: none;
    border: 1px solid #ddd;
}

.ticket-list .sold-out{
    margin: 0 0 0 16px;
    padding: 4px 8px;
    color:#fff;
    background-color: #F44336;
    font-size: 15px;
}

.ticket-list .quantity{
    float:right;
    border-radius: 50%;
    background-color: black;
    width: 28px;
    height: 28px;
    transform: translate(-11px,-5px);
}


.ticket-list .three{
    color: #ccc;
    float:right;
    z-index: 1;
    transform: translate(7px, 1px);
}

.place-list{
    display: block;
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 48px;
}





.place-body{
    background-color: #fff;
    margin-bottom: 16px;
    font-family: 'Lato';
    padding-left: 16px;
    margin-top: -4px;
    padding-bottom: 22px;
}

.place-body .place-heading{
    color:#000;
    font-size: 15px; 
    font-weight: bold;
    padding-top: 15px;
}

.place-body .place-time{
    opacity: 0.7;
    font-size: 15px;
    margin:15px 0;
}

.place-body .place-desc{
    margin:15px 0;
    padding-bottom: 8px;
}

.place-list .place-img{
    width: 100%;
}
.place-body .place-buy{
    font-size: 15px;
    font-family: 'Lato';
    background: black;
    text-decoration: none;
    padding: 8px 16px;
    color:#fff
}

.place-body .place-buy:hover{
    color:rgb(0, 0, 0);
    background-color: #ccc;
}

.place-item .place-img:hover{
    opacity: 0.5;
}

.modal{
    padding:0 16px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.401);
}

.modal-body{
    padding:16px;
}

.modal-container{
    position: relative;
    background: #fff;
    width: 900px;
    max-width: calc(100%);
    min-height: 200px;
    animation: modalFadeIn ease 0.4s;
}



.modal-container .modal-heading{
    color:#fff;
    background: #009688;
    font-size: 30px;
    font-family: 'Lato'!important;
    letter-spacing: 4px;
    padding: 32px 16px;
    text-align: center;
    position: relative;
}


.modal-body .modal-label{
    display: block;
    font-family: 'Lato';
    font-size: 15px;
    margin: 15px;
    margin-left: 0;

}
.modal-body .modal-input{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.327);
}
#buy-ticket{
    display: block;
    margin: 16px;
    margin-left: 0;
    padding: 16px;
    width: 100%;
    background:#009688;
    color: #fff;
    text-transform: uppercase;
    font-size:15px ;
    font-family: 'Lato';
    cursor:pointer;  
    border: none; 
}

#buy-ticket:hover{
    background: #929292bd;
    color:#000;
}

.modal-footer{
    margin: 0px 16px 16px 16px;
    overflow: hidden;
}

.modal-footer .modal-help{
    float:right;
    margin:15px 0;
    font-family: 'Lato';
    
}


.modal-footer .modal-help a{
    color:rgba(0, 85, 255, 0.94)
}


.ti-close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    text-align: right;
    padding: 20px 18px;
}

.modal-close .ti-close:hover{
    color:#000;
    background: rgba(255, 255, 255, 0.59);
    z-index: 1;
}


.modal.open{
    display: flex;
}



.modal-icon{
    overflow-y: auto;
}


@keyframes modalFadeIn{
    
    
    from{
        transform: translateY(-570px);
        opacity: 0;
    }


    to{
        transform: translateY(0px);
        opacity: 1;
    }

}

.content-section .row .col.col-half {
    font-size: 18px;
    font-family: 'Lato';
}

.contact{
    left:0px;
    font-size: 18px;
    margin-right:8px;
}
i.contact.ti-mobile {
    padding: -5px;
    margin-left: -2.7px;
    margin-right: 11px;
}

i.contact.ti-location-pin {
    margin-left: -2px;
    margin-right: 11px;
}

.content-section p{
    padding:5px 0;
}

.contact-input{
    font-size: 15px;
    padding: 8px;
    width: 47.83%;
    float: left;
    border:2px solid rgba(204, 204, 204, 0.5)
}




.content-section .send-button-contact{
    font-size: 15px;
    font-family: 'Lato';
    padding:8px 16px;
    margin:16px 0px;
    color: #fff;
    background: #000;
    float: right;
    cursor:pointer;
}

.contact-input.name,
.contact-input.email,
.contact-input.mes{
    width: 100%;
}

.contact-input.name,
.contact-input.email{
    margin-bottom: 4px;
}


.contact-input.mes{
    margin-top:4px;
}


.send-button-contact:hover{
    color:#000;
    background: rgba(82, 82, 82, 0.286);
    border:2px solid rgba(82, 82, 82, 0.286);
}
.map-image img{
    width: 100%;
    opacity: 0.8;
    filter: grayscale(40%);
}

#footer{
    padding:64px 16px;
    text-align: center !important;
}

#footer .f-text{
    font-size: 15px;
    opacity: 0.7;
    font-family: 'Lato';
    margin: 15px 0;

}
.f-icons{
    font-size: 25px;
}
.f-icons a{
    text-decoration: none;
    color:#000
}

.f-icons a:hover{
    opacity: 0.5;
    
}

.saygoodbye{
    display: inline;
}
.saygoodbye.zen{
    cursor:progress;
}

.mobile-menu-btn{
    display: none;
}





